html {
  height: 100%;
}

body {
  height: 100%;
}

.d-none {
  display: none !important;
}

/* CSS-Stil für die Animation */
@keyframes your-animation-name {
  /* Definition der Animationsschlüsselbilder */
  from {
      /* Stil des Startzustands */
      opacity: 0;
  }
  to {
      /* Stil des Endzustands */
      opacity: 1;
  }
}

.your-animation-class {
  /* Anwenden der Animation auf das Element */
  animation: your-animation-name 1s ease; /* Ändern Sie die Zeit und den Timing-Funktion nach Bedarf */
}


.add_task_container {
  margin-left: 232px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 440px;
  height: 80%;
  padding: 48px 24px 0 24px;
  gap: 24px;
  overflow-y: auto;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

.add_task_container input {
  width: 408px;
  height: 38px;
  padding: 13px 16px;
  border: none;
  border-bottom: 1px solid rgba(209, 209, 209, 1);
  font-size: 32px;
}

.add_task_container input:hover{
  border-bottom: 1px solid rgba(69, 137, 255, 1);
}

.add_task_container input::placeholder {
  color: rgba(209, 209, 209, 1);
}

.add_task_container input:focus-visible {
  outline: none;
  border-bottom: 1px solid rgba(69, 137, 255, 1) !important;
}

.title_gap {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.add_task_container span {
  font-size: 19px;
  font-weight: 700;
  color: rgba(66, 82, 110, 1);
}

.task_optional {
  font-weight: 400 !important;
}

.task_description_container {
  position: relative;
}

#task_description {
  resize: none;
  width: 90%;
  height: 75px;
  border: 1px solid rgba(209, 209, 209, 1);
  border-radius: 0 10px 10px 10px;
  position: relative;
  font-size: 19px;
  padding: 18px 10px 10px 16px;
}

#task_description::placeholder {
  font-family: "Open Sans";
  color: rgba(209, 209, 209, 1);
}

#task_description:focus-visible {
  outline: none;
  border: 1px solid rgba(69, 137, 255, 1) !important;
}

.resizer {
  position: absolute;
  bottom: 15px;
  right: 10px;
}

#task_date {
  cursor: pointer;
  width: 90%;
  height: 24px;
  padding: 12px 18px;
  font-size: 19px;
  color: rgba(209, 209, 209, 1);
  font-family: "Open Sans";
}

input[type="date"]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  background-image: url('../assets/add_task/calender.png');
  background-repeat: no-repeat;
  background-position: right center
}

.priority_button_container {
  width: 90%;
  height: 51px;
  display: flex;
  gap: 16px;
}

.button_prio {
  width: 136px;
  height: 51px;
  padding: 18px 10px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  gap: 10px;
  font-size: 19px;
}

.medium{
  background-color: #FFA800;
  color: white;
}

.urgent{
  background-color: #FF3D00;
  color: white;
}

.low{
  background-color: #7AE229;
}

.hover_urgent:hover{
  border-bottom: 2px solid #FF3D00;
}

.hover_medium:hover{
  border-bottom: 2px solid #FFA800;
}

.hover_low:hover{
  border-bottom: 2px solid #7AE229;
}

#medium_svg{
  transform: rotate(90deg);
}

.dropdown {
  position: relative;
}

.dropdown input {
  width: 90%;
  height: 24px;
  padding: 12px 18px;
  font-size: 19px;
  background-image: url("../assets/add_task/arow_drop_down.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  cursor: pointer;
}

.dropdown input::placeholder {
  color: black;
}

.dropdown input:hover {
  background-image: url("../assets/add_task/arrow_drop_down_hover.png");
}

.dropdown input:focus-visible{
  background-image: url('../assets/add_task/arrow_dropdown_close.png');
}

.dropdown input:focus-visible:hover{
  background-image: url('../assets/add_task/arrow_dropdown_close_hover.png');
}

#dropdown_contacts {
  position: absolute;
  background-color: white;
  min-width: 90%;
  max-height: 280px;
  z-index: 1;
  overflow-y: auto;
  border-radius: 0 0 8px 8px;
}

.dropdown_contact{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 16px;
  width: 90%;
  height: 40px;
  border-radius: 10px;
}

.dropdown_contact:hover{
background-color: rgba(210, 227, 255, 1);
}

.contact_name{
  display: flex;
  align-items: center;
  height: 42px;
  gap: 16px;
}

.dropdown_contact img{
  height: 24px;
  width: 24px;
}

#dropdown_category{
  position: absolute;
  background-color: white;
  min-width: 416px;
  max-height: 280px;
  z-index: 1;
  overflow-y: auto;
  border-radius: 0 0 8px 8px;
  display: flex;
  flex-direction: column;
}

#dropdown_category span{
  width: 408px;
  height: 23px;
  padding: 12px 16px;
  border-radius: 10px;
  font-size: 19px;
  font-weight: 400;
  color: black;
  font-family: 'Open Sans';
}

#dropdown_category span:hover{
  background-color: rgba(210, 227, 255, 1);
}

.subtask input {
  background-image: url("../assets/add_task/add.png");
}

.subtask input:hover {
  background-image: url("../assets/add_task/add_hover.png");
}

.subtask input::placeholder {
  color: rgba(209, 209, 209, 1);
}

.subtask input:focus-visible {
  background-image: none;
}

.subtask input:focus-visible:hover{
  background-image: none;
}

#subtask_confirm_cancel {
  display: none;
  gap: 2px;
  position: absolute;
  right: 0;
  bottom: 13px;
}

.spacer {
  width: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  height: 24px;
}

.confirm {
  width: 24px;
  height: 24px;
  background-image: url("../assets/add_task/confirm_blue.png");
  background-position: right center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.cancel {
  width: 24px;
  height: 24px;
  background-image: url("../assets/add_task/cancel_blue.png");
  background-position: right center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.confirm:hover {
  background-image: url("../assets/add_task/confirm_hover.png");
}

.cancel:hover {
  background-image: url("../assets/add_task/cancel_hover.png");
}

.add_task_option {
  display: flex;
  justify-content: center;
 width: 100%;
  gap: 25px;
}

.option_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 10px;
  gap: 4px;
  border-radius: 10px;
  font-size: 23px;
}

.option_button img {
  width: 24px;
  height: 24px;
}

.cancel_img {
  width: 24px;
  height: 24px;
  background-image: url("../assets/add_task/cancel_gray.png");
}

#task_cancel {
  width: 136px;
  height: 61px;
  border: 1px solid rgba(100, 113, 136, 1);
  background-color: white;
  color: rgba(100, 113, 136, 1);
}

#task_cancel:hover {
  border-color: rgba(0, 93, 255, 1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: rgba(0, 93, 255, 1);
}

#task_cancel:hover .cancel_img {
  background-image: url("../assets/add_task/cancel_blue.png");
}

#task_confirm {
  width: 174px;
  height: 60px;
  border: none;
  background-color: rgba(69, 137, 255, 1);
  color: white;
}

#task_confirm:hover {
  background-color: rgba(0, 93, 255, 1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.subtask {
  display: flex;
  justify-content: space-between;
}

.subtask:hover {
  cursor: pointer;
}


#task_added{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgba(69, 137, 255, 1);
  border-radius: 20px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  width: 326px;
  height: 74px;
  color: white;
  font-size: 23px;
  position: absolute;
  right: 35%;
  top: 50%;
  transition: top 0.5s ease-in-out;
}

#task_added.show{
  top: 25%;
}

.requiered{
  border-bottom: 1px solid rgba(255, 129, 144, 1) !important;
}

.requiered_description{
  border: 1px solid rgba(255, 129, 144, 1) !important;
}

.field_requiered{
  color: rgba(255, 129, 144, 1);
  font-size: 13px;
}

.noshow {
  display: none;
}

@media (max-width: 700px) {

  .sidebar {
      display: none;
  }
  
  .mobilebar_resp {
      display: flex !important;
  }

  .add_task_container {
    margin-left: 0px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 85%;
    height: 65%;
    padding: 48px 24px 0 24px;
    gap: 24px;
    overflow-y: auto;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    
}

.add_task_option {
}

.title_gap {
  width: 100%;
  font-size: 19px;
}

.add_task_container input {
  width: 80%;
height: 38px;
  padding: 13px 16px;
  border: none;
  border-bottom: 1px solid rgba(209, 209, 209, 1);
  

}
.priority_button_container {
  width: 100%;
  height: 51px;
  display: flex;
  gap: 16px;

}

.button_prio {
  width: 160px;
  height: 51px;
gap: 10px;
  font-size: 18px;
}

}

@media (max-width: 450px) {

  .button_prio {
    width: 78px;
    height: 51px;
  gap: 10px;
    font-size: 11px;
  }
}