.d-none {
  display: none !important;
}

.add_task_container {
  margin-left: 232px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 440px;
  height: 864px;
  padding: 64px 24px 0 24px;
  gap: 24px;
}

.add_task_container input {
  width: 408px;
  height: 38px;
  padding: 13px 16px;
  border: none;
  border-bottom: 1px solid rgba(209, 209, 209, 1);
  font-size: 32px;
}

.add_task_container input::placeholder {
  color: rgba(209, 209, 209, 1);
}

.add_task_container input:focus-visible {
  outline: none;
  border-bottom: 1px solid rgba(69, 137, 255, 1);
}

.title_gap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.add_task_container span {
  font-size: 19px;
  font-weight: 700;
  color: rgba(66, 82, 110, 1);
}

.task_optional {
  font-weight: 400 !important;
}

.task_description_container {
  position: relative;
}

#task_description {
  resize: none;
  width: 412px;
  height: 75px;
  border: 1px solid rgba(209, 209, 209, 1);
  border-radius: 0 10px 10px 10px;
  position: relative;
  font-size: 19px;
  padding: 18px 10px 10px 16px;
}

#task_description::placeholder {
  font-family: "Open Sans";
  color: rgba(209, 209, 209, 1);
}

#task_description:focus-visible {
  outline: none;
  border: 1px solid rgba(69, 137, 255, 1);
}

.resizer {
  position: absolute;
  bottom: 15px;
  right: 10px;
}

#task_date {
  width: 408px;
  height: 24px;
  padding: 12px 18px;
  font-size: 19px;
  color: rgba(209, 209, 209, 1);
  font-family: "Open Sans";
}

.priority_button_container {
  width: 440px;
  height: 51px;
  display: flex;
  gap: 16px;
}

.button_prio {
  width: 136px;
  height: 51px;
  padding: 18px 10px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  gap: 10px;
  font-size: 19px;
}

.dropdown {
  position: relative;
}

.dropdown input {
  width: 404px;
  height: 24px;
  padding: 12px 18px;
  font-size: 19px;
  background-image: url("/assets/add_task/arow_drop_down.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  cursor: pointer;
}

.dropdown input::placeholder {
  color: black;
}

.dropdown input:hover {
  background-image: url("/assets/add_task/arrow_drop_down_hover.png");
}

.subtask input {
  background-image: url("/assets/add_task/add.png");
}

.subtask input:hover {
  background-image: url("/assets/add_task/add_hover.png");
}

.subtask input::placeholder {
  color: rgba(209, 209, 209, 1);
}

.subtask input:focus-visible {
  background-image: url();
}

#subtask_confirm_cancel {
  display: flex;
  gap: 2px;
  position: absolute;
  right: 0;
  bottom: 13px;
}

.spacer {
  width: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  height: 24px;
}

.confirm {
  width: 24px;
  height: 24px;
  background-image: url("/assets/add_task/confirm_blue.png");
  background-position: right center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.cancel {
  width: 24px;
  height: 24px;
  background-image: url("/assets/add_task/cancel_blue.png");
  background-position: right center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.confirm:hover{
    background-image: url('/assets/add_task/confirm_hover.png');
}

.cancel:hover{
    background-image: url('/assets/add_task/cancel_hover.png');
}

.add_task_option{
    position: absolute;
    bottom: 42px;
    right: 42px;
    display: flex;
    gap: 25px;
}

.option_button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 10px;
    gap: 4px;
    border-radius: 10px;
    font-size: 23px;
}

.option_button img{
    width: 24px;
    height: 24px;
}

#task_cancel{
    width: 136px;
    height: 61px;
    border: 1px solid rgba(100, 113, 136, 1);
    background-color: white;
    color: rgba(100, 113, 136, 1);
}

#task_cancel:hover{
    border-color: rgba(0, 93, 255, 1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: rgba(0, 93, 255, 1);
}

#task_confirm{
    width: 174px;
    height: 60px;
    border: none;
    background-color: rgba(69, 137, 255, 1);
    color: white;
}

#task_confirm:hover{
    background-color: rgba(0, 93, 255, 1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}