body { 
display: flex;
margin: 0;
background-color: #F6F7F8;
flex-direction: column;
color: rgb(42, 54, 71);
font-family: 'Inter';
font-style: normal;
font-size: 16px;
font-weight: 400; 
}


.login_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.main_container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F7F8;
    flex-direction: column;

}

.middle-container {
    height: 630px;
    width: 598px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    
    
}

.Input_Login {
    width: clamp(12.5rem, -0.357rem + 64.29vw, 23.75rem);
    height: 40px;
    border-radius: 8px;
    border: 2px solid rgb(168, 168, 168);
    margin-bottom: 20px;
    cursor: pointer;
    padding-left: 10px;
    background-image: url('assets/Login/lock.png');
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y:center;
}

.Headlight_Login {
    padding: 30px;
    font-size: 60px;
    font-weight: 700;
    color: rgb(42, 54, 71);
}

.Input_Login_Email {
    width: clamp(12.5rem, -0.357rem + 64.29vw, 23.75rem);
    height: 40px;
    border-radius: 8px;
    border: 2px solid rgb(168, 168, 168);
    margin-bottom: 20px;
    cursor: pointer;
    padding-left: 10px;
    background-image: url('assets/Login/mail.png');
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y:center;
}

.Login_Guest_btn {
    display: flex;
    gap: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Login_seperator {
    padding-bottom: 32px;
}

.Upper_Section_Login {
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
    padding: 56px 64px 48px 64px;
}

.SignIn_Section_Login {
    display: flex;
    align-items: center;
    gap: 32px;
}

.End_section_login {
    display: flex;
    gap: 120px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.Login_Logo {
    height: 90px;
}