.policyConten {
    margin-left: 300px;
    max-height: 90vh;
    overflow-y: auto;
    overflow-y: scroll;
}

.PrivacyTitel {
    font-size: 61px;
}

.policySubtitle {
    color: #005DFF;
    font-size: 33px;
}

p {
    font-size: 16px;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 100px;
    width: 37px;
    height: 37px;
}

button:hover {
    background-color: rgba(227, 238, 255, 1);
    border-radius: 100px;
}

.privacyPosition {
    background-color: #4589FF;
    color: white;
    padding: 8px;
    border-radius: 20px;
}

li {
    font-size: 16px;

}

body {
    overflow: hidden;
}

.NoticeContent {
    margin-left: 300px;
    max-height: 90vh;
    overflow-y: auto;
    overflow-y: scroll;
    
    
}

.NoticeTitel {
    font-size: 61px;
    color: #000000;
}

.subtitleLegalnotice {
    color: #4589FF;
    font-size: 33px;
}

.noticeTextContent {
    font-size: 16px;
    color: #000000;
}

.pointOut {
    color: #005DFF;
    font-size: 18px;
}

.pointOutLight {
    color: #4589FF;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.legalNoticePosition {
    background-color: #4589FF;
    color: white;
    padding: 8px;
    border-radius: 20px;
}