.summary_container {
  margin-left: 380px;
  margin-top: 50px;
  height: 84vh;
  width: 912px;
  display: flex;
  flex-direction: column;
  align-items: center;
gap: 80px;
}

.number {
  color: black !important;
  font-size: 48px !important;
  font-weight: 700 !important;
}

.headline {
  display: flex;
flex-direction: column;
  height: 77px;
  gap: 22px;
  font-size: 48px;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-align: center;
  align-items: center;
}

.headline_name {
  font-size: 42px;
  color: rgba(69, 137, 255, 1);
  font-weight: 700;
}

.task_container {
  display: flex;
  flex-wrap: wrap;
  height: 442px;
  justify-content: space-around;
  align-content: space-between
}

.task_container img {
  height: 76px;
  
}

.task_urgent {
  cursor: pointer;
  color: white;

  height: 135px;
  background-color: rgba(69, 137, 255, 1);
  border-radius: 30px;
  padding: 28px 48px;
  gap: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

#task_urgent_number {
  font-size: 48px;
  font-weight: 700;
}

.task_urgent span {
  font-size: 23px;
  font-weight: 400;
}

.task_urgent_spacer {
  height: 145px;
  border-left: 3px solid white;
  border-radius: 30px;
}

.task_urgent_right {
  display: flex;
  flex-direction: column;
 justify-content: center;
  height: 81px;
  gap: 13px;
}

#task_urgent_date {
  font-size: 27px;
  font-weight: 700;
}

.task_urgent_info {

  height: 113px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9px;
}

.tasks_img {

  height: 76px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.task_board {
 
  height: 111px !important;
}

.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  gap: 7px;
  width: 128px;
  height: 139px;
  padding: 40px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}
.tasks:hover {
  background-color: rgba(210, 227, 255, 1);
}

.tasks span {
  font-size: 20px;
  font-weight: 400;
  color: rgba(69, 137, 255, 1);
}

.noshow {
  display: none;
}


@media (max-width: 1325px) {

  .sidebar {
      display: none;
  }
  
  .mobilebar_resp {
      display: flex !important;
  }

  .summary_container {
    margin-left: 20px;
    margin-top: 40px;
    height: 591px;
    width: 85%;
    gap: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.task_urgent {
  cursor: pointer;
  color: white;
  height: 135px;
  background-color: rgba(69, 137, 255, 1);
  border-radius: 30px;
  padding: 28px 10px;
  gap: 35px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  justify-content: center;
}

.task_container {
  display: flex;
  
  height: 442px;
 justify-content: space-around;
  align-content: space-between;
  margin-left: 0px;
  overflow-y: auto;
  gap: 20px;
}

.tasks {
  width: 70px;
  height: 120px;
}

.task_urgent_right span {
  font-size: 12px;
}

.headline {
  width: 100%;
}
}